/*
************
Reset
************
*/

:root {
    --bg-topbar: #255ee9;
    --bg-section: #f6f6f6;
    --bg-footer: #23272a;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*
  ************
  Debug
  classi precedute da .debug per la gestione degli spazi
  ************
  */
  
  /* bordi debug */
  
  .debug header .top-menu > *,
  .debug header .jumbotron .content,
  .debug main .section .row > div,
  .debug main .section .row-big > div,
  .debug footer .row > div {
    border: 2px dashed black;
  }
  
  .debug header {
    border-bottom: 4px solid var(--bg-topbar);
  }
  
  .debug header .top-menu {
    background-color: #daa520;
  }
  
  .debug header .jumbotron {
    background-color: #00008b;
  }
  
  .debug header .jumbotron .content {
    height: 415px;
    background-color: #ee82ee;
  }
  
  .debug main .section.small .row {
    height: 525px;
  }
  
  .debug main .section .row .col-big {
    background-color: #1e90ff;
  }
  
  .debug main .section .row .col-small {
    background-color: #ffc0cb;
  }
  
  .debug main .section.large .col-full {
    background-color: #228b22;
    height: 940px;
  }
  
  .debug footer .row .col-big .col {
    border: 2px dashed white;
  }
  
  .debug footer .footer-top .col-small {
    background-color: #f08080;
  }
  .debug footer .footer-top .col-big {
    background-color: #20b2aa;
  }
  
  .debug footer .footer-bottom {
    background-color: #7fffd4;
  }
  
  .debug footer .footer-bottom .row .col {
    background-color: #ffb6c1;
  }
  
  /*
  ************
  Common
  ************
  */
  
  .container {
    margin: 0 auto;
  }
  
  .container.big {
    max-width: 1250px;
  }
  
  .container.medium {
    max-width: 950px;
  }
  
  .row {
    display: flex;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .btn {
    display: inline-block;
    background-color: white;
    padding: 10px 15px;
    color: black;
    border-radius: 50px;
    font-size: 13px;
  }
  
  /*
  ************
  Typography
  ************
  */
  
  body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
  }
  
  h1,
  h2 {
    font-size: 45px;
    margin-bottom: 20px;
  }

  h1 {
    font-weight: 700;
  }

  h3 {
    font-size: 30px;
    margin: 40px;
  }

  p {
    line-height: 1.8;
  }
  /*
  ************
  Header
  ************
  */
  
  /* topbar */
  
  header .topbar {
    background-color: var(--bg-topbar);
    padding: 15px;
  }
  
  header .top-menu {
    display: flex;
    align-items: center;
  }
  
  header #logo {
    display: block;
  }
  
  header .top-menu .header-logo,
  header .top-menu .header-login {
    width: 20%;
  }
  
  header .top-menu .header-link {
    width: 60%;
    text-align: center;
  }
  
  header .top-menu .header-link .main-menu {
    display: flex;
    gap: 40px;
    justify-content: center;
    font-size: 14px;
  }
  
  header .top-menu .header-login {
    text-align: right;
  }
  
  /* jumbotron */
  
  header .jumbotron {
    padding: 120px 0;
    text-align: center;
    color: white;
    background-image: url('/img/jumbo.png');
    background-size: cover;
    background-position: top;
  }

  div.content > p {
    padding: 0 120px 20px;
  }

  header .jumbotron a.btn {
    font-size: 15px;
    padding: 15px 20px;
  }

  header a.btn.btn-black {
    background-color: black;
    color: white;
    font-size: 15px;
    margin-left: 10px;
  }
  
  /*
  ************
  Main
  ************
  */
  
  main .section {
    padding: 100px 50px;
  }
  
  main :nth-child(even of .section) {
    background-color: var(--bg-section);
  }
  
  main .section .col-big {
    width: 60%;
  }
  
  main .section .col-small {
    width: 40%;
    color: #23272a;
    padding-right: 120px;
    padding-top: 30px;
  }
  
  main .section .col-full {
    flex-grow: 1;
  }

  main .col-full {
    text-align: center;
  }

  main .section.large .col-full > a.btn {
    background-color: #93a4e1;
    color: white;
  }

  main .col-full h3 {
    background-image: url('/img/stars.svg');
    background-size: 30%;
    background-position: left;
  }
  
  main .wave {
    height: 100px;
    background-image: url('/img/wave.svg');
    opacity: 0.04;
  }

  main .wave.reverse {
    transform: scale(1, -1);
  }

  /*
  ************
  Footer
  ************
  */

  footer .footer-top .col-small h3 {
  margin: 0;
  }
  
  footer {
    background-color: var(--bg-footer);
    padding-top: 10px;
    font-size: 12px;
  }
  
  /* footer top */
  
  footer .footer-top {
    padding: 85px 0 20px;
    border-bottom:1.2px solid #7289da;
  }
  
  footer .footer-top .col-small {
    width: 30%;
    padding-right: 120px;
  }
  footer .footer-top .col-big {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  footer .footer-top .col-big li {
    margin-bottom: 20px;
  }
  
  /*  per l'allineamento dei link al margin-right
  footer .footer-top .col-big .col {
    flex-grow: 1;
  } */
  
  footer .row .col-small > h4 {
    color: #7289da;
    margin-bottom: 20px;
    font-size: 24px;
  }

  footer .row .col-small .language {
    color: white;
  }

  footer .row .col-small .language > img {
    width: 20px;
    font-size: 14px;
    vertical-align: middle;
  }

  footer .row .col-small .language i {
    font-size: 14px;
  }

  footer .icone ul {
    margin-top: 20px;
    display: flex;
  }

  footer .icone ul > li {
    padding-right: 15px;
  }

  strong {
    color: #7289da;
  }

  /* footer bottom */
  
  footer .footer-bottom {
    padding: 15px 0 30px;
  }
  
  footer .footer-bottom .row {
    justify-content: space-between;
  }
  
  footer .footer-bottom .col {
    padding: 10px 0;
  }

  footer .footer-bottom .row .col > img {
    width: 90px;
  }

  footer a.btn {
    font-size: 10px;
    padding: 10px;
    color: white;
    background-color: #7289da;
  }